# Production Server Config
PORT=4000
NODE_ENV=production

# Neon PostgreSQL Connection String (Cloud Database)
DATABASE_URL="postgresql://neondb_owner:npg_J51B1hZfKGDr@ep-little-smoke-ay8miezw.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require"

# Upstash Redis Credentials (Cloud Queue)
REDIS_HOST=gentle-guppy-190362.upstash.io
REDIS_PORT=6379
REDIS_PASSWORD=gQAAAAAAAueaAAIgcDI4YTZkMmM0YTA3MWQ0YjgwYTg3MjM1OTRlODViMDYzYw

# Rate Limiting & Concurrency
CONCURRENCY=5
MIN_DELAY_BETWEEN_EMAILS_MS=2000
MAX_EMAILS_PER_HOUR=200

# Google OAuth Credentials
GOOGLE_CLIENT_ID=524611453858-4v6egr9k7ma8lu36dv8gfmtihukmigtk.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
